.wrapper {
    height: 100vh;
    background-image:  url("../../assets/img/offer_background.svg");
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-position: center;
    color: white;
    overflow: hidden;
}

.switchRoot {
    color: white !important;
}

.switchTrack {
    background-color: #5696e8 !important;
    height: 10px;
}

.switchChecked{
    color: white !important;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
}

.planSelectorContainer {
    letter-spacing: 1.08px;
}

.activePlanLabel {
    font-weight: 500;
}