.dashboardContainer {
    height: 40vh;
    width: 40vw;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 #595959;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5b7289;
    padding: 0 200px;
}

.dashboardContent {
    flex-grow: 2;
}

.wrapper {
    height: 100vh;
    background-image: linear-gradient(122deg, #317bda, #33c3c8);
}

.cardsContainer {
    display: flex;
    flex-direction: row;
}

.planSelectorContainer {
    display: flex;
    flex-direction: row;
}