.dashboardContainer {
    height: 40vh;
    width: 40vw;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5b7289;
    padding: 0 200px;
}

.wrapper {
    height: 100vh;
    background-image: linear-gradient(122deg, #317bda, #33c3c8);
    overflow: hidden;
}

.formFieldsContainer{
    display: flex;
    flex-direction: column;
}

.ageInput, .valueInput {
    width: 100px;
    height: 50px;
    margin-right: 5px;
}

.carInput {
    width: 300px;
}

.selectIcon {
    color: #31cfda !important;
    top: inherit !important;
    font-size: 2.5rem !important;
    margin-right: 5px !important;
}

.errorMessage {
    color: red;
}

.getPriceBtn{
    background-color: #31cfda !important;
    color: white !important;
    text-transform: none !important;
    padding: 15px 0 !important;
    font-weight: 800 !important;
    width: 200px;
}