.header {
    background: rgba(255,255,255,0.12);
    height: 4vh;
    display: flex;
    align-items: center;
}

.link {
    float: left;
    margin-left: 5vw;
    text-decoration: none;
}

.link > span {
    color: white;
    font-family: Roboto;
    display: flex;
    font-size: 0.8em;
    align-items: center;
}