.centerContent {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.input {
  margin: 5px 0;
}

.input::before {
  border-bottom: 2px solid #317bda !important;
}

.input::after {
  border-bottom: 3px solid #317bda !important;
}

.inputLabel {
  font-size: 0.8em !important;
  margin-top: 20px;
}

.invisible {
  visibility: hidden;
}