.login {
    height: 100vh;
    background-image: linear-gradient(122deg, #317bda, #33c3c8);
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 30px;
    width: 6vw;
}

.loginContainer {
    width: 20vw;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5b7289;
    padding: 20px;
}

.infoText {
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #5b7289;
}

.loginOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.rememberme > span {
    margin: 10px 0;
    display: flex;
    align-items: stretch;
}

.rememberme > span > img {
    margin-right: 3px;
}

.forgotpassword {
    text-decoration: inherit; /* no underline */
    color: #317bda;
    font-weight: 500;
}

.forgotpassword:hover {
    cursor: pointer;
}

.signin {
    background-color: #317bda !important;
    color: white !important;
    text-transform: none !important;
    padding: 15px 0 !important;
    font-weight: 800 !important;
}

.requestAccount {
    color: white;
    border-radius: 4px;
    border: solid 1px white;
    width: 20vw;
    padding: 20px;
    text-align: center;
    font-weight: 600;
}

.requestAccount > span{
    text-decoration: underline;
    cursor: pointer;
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    color: white;
    padding: 15px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
}
